<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathfinding Visualizer</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
</head>

<body>
    
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
        <nav class="navbar">Least Time Travel Path Project</nav>
        <div id="network"></div>
        <div>
            <button id="generateGraph">Generate Graph</button>
            <button id="solve">Solve</button>
        </div>
    </div>
    

    <script src="/static/js/script.js"></script>
</body>

</html>
